*{
    margin: 0 auto;
    padding: 0px;
}

header{
    margin: auto;
    min-width: 320px;
    max-width: 1920px;
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1921px;
    height: 149px;
    background: #007C3E 0% 0% no-repeat padding-box;
    opacity: 1;
}

.logo{
    position: relative;
    top: 38px;
    left: 278px;
    width: 163px;
    height: 75px;
    background: transparent url('img/Logo Unimed.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.logo-somosCoop{
    max-width: 100%;
    position: absolute;
    top: 63px;
    left: 467px;
    width: 222px;
    height: 33px;
    background: transparent url('img/Somos Coop Linha.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.btn-compra-plano{
    position: absolute;
    top: 47px;
    left: 1307px;
    width: 335px;
    height: 55px;
    background: #E95A00 0% 0% no-repeat padding-box;
    border-radius: 39px;
    opacity: 1;
}

.fonte-btn-compra-plano{
    top: 59px;
    left: 1356px;
    width: 217px;
    height: 28px;
    color: var(--branco);
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.banner-topo{
    max-width: 100%;
    display: -ms-flexbox;
    position: absolute;
    top: 149px;
    left: 0px;
    width: 1926px;
    height: 532px;
    background: transparent url('img/Banner-topo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

section{
    max-width: 100%;
    position: relative;
    top: 681px;
    width: 1918px;
    height: 849px;
    background: #F3F3F3 0% 0% no-repeat padding-box;
    opacity: 1;
}

.video{
    position: absolute;
    top: 246px;
    left: 416px;
    width: 1088px;
    height: 495px;
    background: #C1C1C1 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
}